.tmp
.build
/cert/*.key
/cert/*.arn
/cert/*.crt
/cert/*.pub
/cert/*.p12
/cert/*.csr
/cert/*.full
/cert/*.chain
/cert/*.esl
/cert/*.auth
/cert/*.aws-efivars
/cert/GUID.txt
!/cert/gardenlinux-*.crt
!/cert/gardenlinux-*.chain
!/cert/gardenlinux-*.auth
!/cert/gardenlinux-*.aws-efivars
!/cert/gardenlinux.kernel.sign.crt
!/cert/gardenlinux.sign.pub
